.useEffectWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  border: 1px solid black;
  margin-bottom: 5px;
  margin-top: 5px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}