.useMemoWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.blockStyle {
  margin-top: 10px;
  width: 200px;
  height: 200px;
}

.darkTheme {
  background-color: black;
  color: white;
  font-size: 30px;
}

.whiteTheme {
  border: 1px solid black;
  color: black;
  font-size: 30px;
}