.useStateWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 40px;
  }

  .buttonWrapper {
    display: flex;
    gap: 10px;
  }

  .fruitWrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 10px; 
  }
}

